<div class="title">Todo List</div>

<form name="$ctrl.form" ng-submit="$ctrl.submit()">

  <div class="input-container">
    <input name="todo" type="text" placeholder="Add todo" ng-change="$ctrl.onChange()" ng-model="$ctrl.todo" required>
    <div class="error" ng-show="$ctrl.form.todo.$error.unique">Already on your todo list</div>
  </div>

  <button class="primary" type="submit" ng-disabled="$ctrl.form.$invalid">Add</button>

</form>

<table>
  <tbody class="items" sortable ng-model="$ctrl.todos" options="$ctrl.options">
    <tr class="item" ng-repeat="todo in $ctrl.todos">
      <td class="number" ng-mousedown="$ctrl.preventDrag($event)">{{$index + 1}}.</td>
      <td class="label" ng-mousedown="$ctrl.preventDrag($event)">{{todo}}</td>
      <td class="delete" ng-mousedown="$ctrl.preventDrag($event)">
        <i class="material-icons" ng-click="$ctrl.remove(todo)">delete</i>
      </td>
      <td class="drag">
        <i class="material-icons">drag_handle</i>
      </td>
    </tr>
  </tbody>
</table>
